﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spike Design</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Inicio", "Home")">Spike Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            @if (Session["Jugador"] != null)
            {
                <div class="navbar-nav">
                    <a class="nav-item nav-link @ViewBag.Puntuaciones" href="@Url.Action("Puntuaciones", "Home")">Puntuaciones</a>
                    <a class="nav-item nav-link @ViewBag.Jugar" href="@Url.Action("Jugar", "Home")">Jugar</a>
                    <a class="nav-item nav-link" href="@Url.Action("Logout", "Home")">Logout</a>
                </div>
            }
        </div>
    </nav>
    <div class="container bg-white">
        @RenderBody()
        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
