﻿@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-3">
        <img src="@Url.Content("~/Content/Images/Logo.jpg")" class="img-fluid" />
    </div>
    <div class="col">
        <p>Bienvenido, para empezar a jugar ingrese un nick</p>
        <form method="post" action="@Url.Action()">
            <div class="form-group">
                <label>Nick</label>
                <input class="form-control" name="nick" type="text" required autofocus placeholder="Nick" />
            </div>
            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn-primary form-control" />
            </div>
        </form>
    </div>
</div>