﻿@model Adivinador.Models.ViewModels.VM_Partida

@{
    ViewBag.Title = "Jugar";
    ViewBag.Jugar = "active";
}

<div class="row">
    <div class="col-3">
        <img src="@Url.Content("~/Content/Images/Logo.jpg")" class="img-fluid" />
    </div>
    <div class="col">
        <h1>Adivina el numero</h1>
        <h2>@Model.PlayerName</h2>
        <p class="mt-4">@Model.TriedNumbers</p>
        <h2>@Model.StatusMessage</h2>
        @if (!Model.IsEndGame)
        {
            <form method="post" action="@Url.Action()">
                <div class="form-group">
                    <label>Numero: </label>
                    <input class="form-control" min="1" max="100" name="numero" type="number" required autofocus />
                </div>
                <div class="form-group">
                    <input type="submit" value="Probar" class="btn-primary form-control" />
                </div>
            </form>
        }
        else
        {
            <form method="get" action="@Url.Action("Jugar")">
                <div class="form-group">
                    <input type="submit" value="Volver a Jugar" class="btn-success form-control" />
                </div>
            </form>
        }
    </div>
</div>
