﻿@model Adivinador.Models.ViewModels.VM_Puntuaciones

@{
    ViewBag.Title = "Puntuaciones";
    ViewBag.Puntuaciones = "active";
}

<div class="row">
    <div class="col-3">
        <img src="@Url.Content("~/Content/Images/Logo.jpg")" class="img-fluid" />
    </div>
    <div class="col">
        <table class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mejor marca del jugador en esta session</th>
                    <th scope="col">Mejor marca del jugador en esta maquina/navegador</th>
                    <th scope="col">Mejor marca en esta maquina/navegador</th>
                    <th scope="col">Mejor marca del sistema</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>@Model.BestScoreSession</td>
                    <td>@Model.BestBrowserScoreUser</td>
                    <td>@Model.BestBrowserScore</td>
                    <td>@Model.BestSistScore</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>